
<center>
    <h2>Result</h2>

    <form action="Result" method="post">
        Which city do you want to search for? :
        <input type="text" name="location" required />
        <input type="submit" />
    </form>
</center> 