
<center>
    <h2>Create New Crawl</h2>

    <form action="Result" method="post">

        <div align="left">

            <!--PICK STATE & CITY-->
            City:<br />

            <input type="hidden" name="country" id="countryId" value="US" />
            <select name="state" class="states order-alpha" id="stateId">
                <option value="">Select State</option>
            </select>
            <select name="city" class="cities order-pop limit-pop-20000" id="cityId">
                <option value="">Select City</option>
            </select>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="//geodata.solutions/includes/statecity.js"></script><br />

            <!--PICK DATE & TIME-->
            <label for="datetime">Choose a time for your appointment:</label><br/>

            <input type="datetime-local" id="datetime"
                   name="datetime" value="2019-12-20T19:30"><br/>

            Minimum Yelp rating (1-5) : <br />
            <input type="number" name="rating" min="1" max="5" required /> <br /><br /><br />

            <input type="submit" class="btn btn-primary" value="Submit">
        </div>
    </form>
</center> 