@model List<Bar>
       




<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Location
            </th>

            <th>
                Price
            </th>

            <th>
                Rating
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <iframe width="300" height="300" frameborder="1" style="border:1"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBdac79PQX5UeDPlBxeExEgtE0dYxQmG8s&q=@item.Location" allowfullscreen>
                    </iframe>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.ActionLink("Start", "Stops", "Home",
                       new
                            {
                                id = item.BarId,
                                name = item.Name,
                                location = item.Location,
                                longitude = item.Longitude,
                                latitude = item.Latitude,
                                price = item.Price,
                                rating = item.Rating,
                            }, null)
                </td>

            </tr>
        }



    </tbody>
</table>

