@model List<Bar>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Location
            </th>

            <th>
                Price
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Start", "Stops", "Home",
                       new
                            {
                                id = item.BarId,
                                name = item.Name,
                                location = item.Location,
                                longitude = item.Longitude,
                                latitude = item.Latitude,
                                price = item.Price,
                            }, null)
                </td>

            </tr>
        }
    </tbody>
</table>
<br />
