
<center>
    <h2>Result</h2>

    <form action="Result" method="post">
        Which city do you want to search for? :
        <input type="text" name="location" required /> <br/>
        Minimum Yelp rating (1-5) :
        <input type="text" name="rating" min = "1" max = "5" required /> <br/>

        <input type="submit" />



    </form>
</center> 