
<center>
    <h2>Create New Crawl</h2>

    <form action="Result" method="post">
        <div align="left">
           
            Which city do you want to search for? :<br/>
            <input type="text" name="location" required /> <br/> <br/>
            Minimum Yelp rating (1-5) : <br/>
            <input type="number" name="rating" min="1" max="5" required /> <br/><br/><br/>
           
            
            <input type="submit"/>
        </div>
    </form>
</center> 