
<center>
    <h2>Result</h2>

    <form asp-action="Result" >
       Which city do you want to search for? :
        <input type="text" name="location" required />
        <input type="submit" />
    </form>
</center>
