@model List<Bar>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Location
            </th>
            <th>
                Price
            </th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>

Would you like to Save/Share this Bar Crawl? Or reroll?

@Html.ActionLink("Save", "SaveCrawl", "Home",
                          new
                          {
                              crawl = Model
                          }, null)

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCrawlDetail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Name</label>
                <input name="name" id="name" class="form-control" />
                
            </div>
    
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>